* {
  font-family: Lexend, Arial, sans-serif;
  white-space: nowrap;
  overflow-wrap: normal;
}

body{
  margin: 0;
}

#heading{
  text-align: center;
  padding: 1vw;
}

h1{
  margin: 0;
  font-size: 3.5vw;
}

.subheading{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subheading p {
  margin: 3px 0;
}

.subheading .education{
  font-size: 1.5vw;
}

.subheading .contact{
  font-size: 1vw;
}

.subheading a {
  text-decoration: none;
}

.grid-container{
  display:grid;
  grid-template-columns:repeat(3,2fr);
  grid-gap:1vw;
  padding:1vw;
  margin-top: -2vw;
}

.box{
  background-color:white;
  padding: 2vw;
  text-align: center;
  border: 0.2vw solid #fff;
  height: 20vw;
  width: 25vw;
  font-size: 2vw;
  font-weight: bold;
  margin-top: 0vw;
}

.box p{
  margin: 0 0;
}

.box img{
  padding: 0vw;
  max-width: 80%;
  max-height: 18vw;
  object-fit: contain;
  object-position:center;
  margin-top: 1vw;
  margin-bottom: 1vw;
}